.App {
  text-align: center;
}

.App__border {
  width: 90vw;
  height: 90vh;
  margin: 5vh 5vw;
  background-color: rgba(245,245,245,0.7);
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  font-weight: 200;
}

.App__header {
  color: rgba(0, 0, 0, 1);
  font-size: 15vw;
  font-weight: 100;
}

@media only screen and (min-width: 768px) {
  .App__header {
    font-size: 5vw;
  }
} 